FOMOSCAN_API_KEY=
FOMOSCAN_CALLOUTS_URL=https://api.fomoscan.sh/v2/pump/thesis

POLL_INTERVAL_MS=2000

FOLLOWED_WALLETS=9LXWa7V3AE15VfBupcx5gDts2ix3Y9NzbcKZKjkkq6hV,CE44oKS3wpUerx8afyeii56u5oQjBLZknzm4Q2CYHUz9

FOLLOWED_USERNAMES=@rikz_,@ely

BUY_AMOUNT_SOL=0.04

DEBUG_RAW=false
BASELINE_ON_START=false
